*.o
*.lo
*.a
*.dSYM
*.cache
*.log
*~
Makefile
Makefile.in
INSTALL
configure
.deps
missing
stamp-h1
.DS_Store
aclocal.m4
config.h
config.h.in
4store-config.h
4store-config.h.in
ltmain.sh
depcomp
install-sh
config.status
version.sh
src/common/.libs
src/common/lib4store.la
compile
config.guess
config.sub
libtool
4store-0.pc
